<h1> Stupid Coaching</h1>

<div class=question><%=@question%>
<br> - <i>You</i></div>
<br>
<div class=answer><%=@coach_response%>
<br> - <i>Your coach</i></div>
<br>
<br>
<div class=link_to><%=link_to "Ask question again", ask_path %></div>
